services:
  ubbase:
    build:
      context: .
      dockerfile: dockerfiles/base/ubbase
    image: ubbase:latest
    container_name: hlc_ubbase
    networks:
      - hlc_network

  ubsecurity:
    build:
      context: .
      dockerfile: dockerfiles/base/ubsecurity
    image: ubsecurity:latest
    container_name: hlc_ubsecurity
    depends_on:
      - ubbase
    ports:
      - "22:22"
    networks:
      - hlc_network

  ubsgbd:
    build:
      context: .
      dockerfile: dockerfiles/base/ubsgbd
    image: ubsgbd:latest
    container_name: hlc_ubsgbd
    depends_on:
      - ubsecurity
    ports:
      - "5432:5432"
    networks:
      - hlc_network

  ubreact:
    build:
      context: .
      dockerfile: dockerfiles/base/ubreact
      args:
        REACT_APP_API_URL: "https://pokeapi.co/api/v2"
    image: ubreact:latest
    container_name: hlc_ubreact
    ports:
      - "80:80"
    networks:
      - hlc_network

networks:
  hlc_network:
    driver: bridge
    name: hlc_examen_network

volumes:
  postgres_data:
    name: hlc_postgres_data